body {
    height: 1026px;
  
    font-family: "Roboto", sans-serif;
  
    background-color: #e5e5e5;
  }
  
  * {
    scrollbar-width: none;
  }
  
  body h1 {
    font-family: "Righteous", cursive;
  }
  
  button {
    border-style: none;
  }
  .header {
    position: fixed;
  
    width: 100%;
    height: 92px;
    z-index: 1;
  
    background: #cf2b2b;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .header h1 {
    padding-left: 20px;
  
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;
  
    color: #ffffff;
  }
  
  .header p {
    padding-left: 21px;
  
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
  
    color: #ffffff;
  }
  
  .main {
    padding-left: 17px;
    padding-top: 96px;
    padding-bottom: 108px;
  }
  
  .main .section .titulo-section {
    margin-top: 27px;
    margin-bottom: 17px;
    width: 100%;
    height: 25px;
  
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
  
    color: #333333;
  }
  
  .items-de-compra {
    display: flex;
    align-items: center;
  
    width: 100%;
    padding: 7px 0px 7px 0px;
    gap: 16px;
    overflow-x: scroll;
  }
  
  .items-de-compra span {
    margin-top: 4px;
    margin-bottom: 8px;
  }
  .item-de-compra {
    position: relative;
    display: flex;
    flex-direction: column;
  
    padding: 17px 14px;
  
    background: #ffffff;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
  }
  
  .ion-icon {
    display: none;
  }
  .picked .ion-icon {
    display: initial;
    width: 19px;
    height: 19px;
  
    position: absolute;
    bottom: 15px;
    right: 15px;
  
    color: #32b72f;
  }
  .picked {
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25),
      inset 0px 0px 0px 5px #32b72f;
    border-radius: 9px;
  }
  
  .food-boxsize {
    width: 172px;
    height: 216px;
  }
  .food-boxsize img {
    width: 144px;
    height: 87px;
  }
  .drink-boxsize {
    width: 172px;
    height: 202px;
  }
  .drink-boxsize img {
    width: 144px;
    height: 87px;
  }
  .dessert-boxsize {
    width: 172px;
    height: 197px;
  }
  
  .dessert-boxsize img {
    width: 144px;
    height: 82px;
  }
  
  .item-de-compra img {
    margin-bottom: 8px;
  
    background: url(.png);
    border-radius: 4px;
  }
  
  .item-de-compra h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
  
    color: #333333;
  }
  
  .item-de-compra span {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
  
    color: #a6a6a6;
  }
  .item-de-compra p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
  
    color: #000000;
  }
  
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
  
    position: fixed;
    left: 0px;
    bottom: 0px;
  
    width: 100%;
    height: 92px;
    z-index: 1;
  
    background: #ffffff;
  }
  
  .footer .caixa-confirmacao {
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 364px;
    height: 61px;
  
    border-radius: 50px;
  }
  
  .footer .caixa-confirmacao p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
  
    color: #ffffff;
  }
  .cor-confirmacao {
    background: #cbcbcb;
  }
  .confirmar {
    background: #32b72f;
  }
  
  .fundo-opaco {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  
    z-index: 5;
    width: 100%;
    height: 100%;
  
    left: 0px;
    top: 0px;
  
    background: rgba(255, 255, 255, 0.9);
  }
  
  .tudo-certo {
    width: 329px;
    height: 52px;
  
    background: #ffffff;
    border-radius: 100px;
  
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
  
    color: #50d074;
  }
  .confirme-seu-pedido {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
  
    color: #ffffff;
  }
  .carrinho-de-compras {
    display: flex;
    flex-direction: column;
    gap: 13px;
  }
  .pratos-preco {
    width: 320px;
    display: flex;
    justify-content: space-between;
  }
  .carrinho-de-compras span {
    font-size: 22px;
    line-height: 26px;
    text-align: right;
  
    color: #ffffff;
  }
  .finalizar-pedido {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  
    width: 377px;
    height: 353px;
  
    background: #50d074;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
  }
  .total {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
  
    color: #ffffff;
  }
  .cancelar {
    background: #50d074;
  }
  .cancelar span {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
  
    color: #ffffff;
  }
  .off {
    display: none;
  }
  